/******************************************************************
Site Name: Medrick Studio 
Author: Mehrnaz Nazari

Stylesheet: Main Stylesheet

******************************************************************/
/*********************
IMPORTING PARTIALS
These files are needed at the beginning so that we establish all
our mixins, functions, and variables that we'll be using across
the whole project.
*********************/
/* line 1, ../scss/base/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strike, strong, sub, sup, tt, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, nav, output, ruby, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 21, ../scss/base/_reset.scss */
html {
  line-height: 1;
}

/* line 25, ../scss/base/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 29, ../scss/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 34, ../scss/base/_reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 40, ../scss/base/_reset.scss */
q, blockquote {
  quotes: none;
}

/* line 43, ../scss/base/_reset.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 48, ../scss/base/_reset.scss */
a img {
  border: none;
}

/* line 52, ../scss/base/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 178, ../scss/base/_mixins.scss */
.transparent-background, form option, .form option {
  background-color: transparent;
  zoom: 1;
}

/* line 7, ../scss/base/_base.scss */
body,
body * {
  direction: rtl;
}

/* body {
	background: url(../images/up-left-corner.png) left top no-repeat, url(../images/center-vertical-tile.png) center center repeat-y, url(../images/center-end.png) center bottom no-repeat;
	background-color: $bg-color;
	background-size: auto;
} */
/* line 19, ../scss/base/_base.scss */
*:focus {
  outline: none;
}

/*================================
		FORM ELEMENTS
=================================*/
/* line 27, ../scss/base/_base.scss */
input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
textarea,
fieldset.row,
select + label.select {
  -webkit-user-select: auto;
  -webkit-appearance: none;
  font-family: "YekanBakh", sans-serif;
  box-sizing: border-box;
  margin-bottom: 0px;
  text-align: left;
  padding: 0 10px;
  border: none;
  width: 100%;
}
/* line 43, ../scss/base/_base.scss */
input[type="text"].error,
input[type="number"].error,
input[type="email"].error,
input[type="password"].error,
textarea.error,
fieldset.row.error,
select + label.select.error {
  border-color: rgba(239, 83, 80, 0.9) !important;
}
/* line 46, ../scss/base/_base.scss */
input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus,
fieldset.row:focus,
select + label.select:focus {
  background-color: transparent;
}

/* line 51, ../scss/base/_base.scss */
form, .form {
  box-sizing: border-box;
  position: relative;
  margin: 2.5% auto;
  width: 100%;
}
/* line 56, ../scss/base/_base.scss */
form .row-form, .form .row-form {
  margin-bottom: 20px;
  clear: both;
}
/* line 59, ../scss/base/_base.scss */
form .row-form::before, form .row-form::after, form .form .row-form::after, .form form .row-form::after, .form .row-form::before, .form .row-form::after {
  display: table;
  content: ' ';
}
/* line 63, ../scss/base/_base.scss */
form .row-form::after, .form .row-form::after {
  clear: both;
}
/* line 68, ../scss/base/_base.scss */
form label, .form label {
  padding: 5px 5px 17px 5px;
  vertical-align: middle;
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  color: #8e94a0;
}
/* line 76, ../scss/base/_base.scss */
form input, form textarea, .form input, .form textarea {
  background-color: transparent;
  color: #240d35;
  border: none;
  font-weight: 400;
  font-size: 14px;
  height: 32px;
}
/* line 84, ../scss/base/_base.scss */
form textarea, .form textarea {
  min-width: 78px;
  height: 34px;
}
/* line 88, ../scss/base/_base.scss */
form input[type="submit"], .form input[type="submit"] {
  height: 36px;
}
/* line 91, ../scss/base/_base.scss */
form option, .form option {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

/*================================
		Button ELEMENTS
=================================*/
/* line 100, ../scss/base/_base.scss */
button,
.button, .btn, a.btn {
  margin: 10px 0;
  width: auto;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
  padding: 0.375rem 0.938rem;
  -webkit-appearance: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, text-shadow .15s ease-in-out;
}
/* line 113, ../scss/base/_base.scss */
button.green,
.button.green, .btn.green, a.btn.green {
  min-width: 109px;
  color: #0e193d;
  border: 0px solid #96c735;
  background-color: #96c735;
}
/* line 118, ../scss/base/_base.scss */
button.green:active, button.green:hover,
.button.green:active,
.button.green:hover, .btn.green:active, .btn.green:hover, a.btn.green:active, a.btn.green:hover {
  background-color: #8aba2b;
  text-shadow: 0px 0 2px rgba(0, 0, 0, 0.3);
}
/* line 124, ../scss/base/_base.scss */
button.green:focus,
.button.green:focus, .btn.green:focus, a.btn.green:focus {
  -webkit-box-shadow: 0 0 8px rgba(130, 132, 131, 0.5);
  -moz-box-shadow: 0 0 8px rgba(130, 132, 131, 0.5);
  box-shadow: 0 0 8px rgba(130, 132, 131, 0.5);
}
/* line 128, ../scss/base/_base.scss */
button.blue,
.button.blue, .btn.blue, a.btn.blue {
  min-width: 109px;
  color: #ffffff;
  border: 0px solid #3399de;
  background-color: #3399de;
}
/* line 133, ../scss/base/_base.scss */
button.blue:active, button.blue:hover,
.button.blue:active,
.button.blue:hover, .btn.blue:active, .btn.blue:hover, a.btn.blue:active, a.btn.blue:hover {
  font-weight: 400;
  background-color: #3191d2;
  text-shadow: 0px 0 2px rgba(0, 0, 0, 0.3);
}
/* line 139, ../scss/base/_base.scss */
button.blue:focus,
.button.blue:focus, .btn.blue:focus, a.btn.blue:focus {
  -webkit-box-shadow: 0 0 8px rgba(130, 131, 132, 0.5);
  -moz-box-shadow: 0 0 8px rgba(130, 131, 132, 0.5);
  box-shadow: 0 0 8px rgba(130, 131, 132, 0.5);
}
@media screen and (min-width: 1024px) and (max-width: 1366px) {
  /* line 100, ../scss/base/_base.scss */
  button,
  .button, .btn, a.btn {
    font-size: 19px;
  }
}
@media screen and (min-width: 823px) and (max-width: 1023px) {
  /* line 100, ../scss/base/_base.scss */
  button,
  .button, .btn, a.btn {
    font-size: 19px;
  }
}
@media screen and (min-width: 415px) and (max-width: 822px) {
  /* line 100, ../scss/base/_base.scss */
  button,
  .button, .btn, a.btn {
    font-size: 18px;
  }
}
@media screen and (max-width: 414px) {
  /* line 100, ../scss/base/_base.scss */
  button,
  .button, .btn, a.btn {
    font-size: 16px;
  }
}

/* line 1, ../scss/base/_type.scss */
body * {
  font-family: "YekanBakh", sans-serif;
  font-size: 28px;
  color: #240d35;
}

/* line 12, ../scss/base/_type.scss */
body {
  background: url("../images/Pattern.png") repeat 0 0;
}

/* line 16, ../scss/base/_type.scss */
ul {
  padding: 0;
}

/* line 20, ../scss/base/_type.scss */
li {
  list-style-type: none;
}

/**
 *
 * RAW ELEMENT STYLES
 *
 **/
/* line 31, ../scss/base/_type.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "YekanBakh", sans-serif;
  font-weight: 300;
  margin-bottom: 14px;
  margin-top: 14px;
  width: 100%;
}

/* line 45, ../scss/base/_type.scss */
h1 {
  font-size: 82px;
  margin: 14px 0;
}

/* line 50, ../scss/base/_type.scss */
h2 {
  font-size: 48px;
  margin: 12px 0;
}

/* line 55, ../scss/base/_type.scss */
h3 {
  font-size: 30px;
  margin: 10px 0;
}

/* line 60, ../scss/base/_type.scss */
h4 {
  font-size: 24px;
}

/* line 64, ../scss/base/_type.scss */
h5 {
  font-size: 16px;
}

/* line 68, ../scss/base/_type.scss */
h6 {
  font-size: 14px;
}

/* line 72, ../scss/base/_type.scss */
p {
  font-size: 28px;
  text-align: justify;
  line-height: 2.6rem;
  font-size: 26px;
  font-weight: 500;
}

/* line 79, ../scss/base/_type.scss */
strong {
  font-weight: 700;
}

/* line 83, ../scss/base/_type.scss */
a {
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
}
/* line 88, ../scss/base/_type.scss */
a:hover, a:focus, a.active {
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  color: #5cf192;
  text-decoration: none;
}

/**
 *
 * TRANSFORMS AND STYLES AND ALIGNS
 *
 **/
/* line 102, ../scss/base/_type.scss */
.text-uppercase {
  text-transform: uppercase !important;
}

/* line 106, ../scss/base/_type.scss */
.text-capitalized {
  text-transform: capitalize !important;
}

/* line 110, ../scss/base/_type.scss */
.center-aligned {
  text-align: center !important;
}

/* line 114, ../scss/base/_type.scss */
.left-aligned {
  text-align: left !important;
}

/* line 118, ../scss/base/_type.scss */
.right-aligned {
  text-align: right !important;
}

/* line 122, ../scss/base/_type.scss */
.rtl {
  direction: rtl;
}

/* line 126, ../scss/base/_type.scss */
.ltr {
  direction: ltr;
}

/* line 130, ../scss/base/_type.scss */
.no-padding {
  padding: 0;
}

/* line 134, ../scss/base/_type.scss */
.no-margin {
  margin: 0 !important;
}

/* line 138, ../scss/base/_type.scss */
.captalized {
  text-transform: capitalize;
}

/* line 142, ../scss/base/_type.scss */
.uppercased {
  text-transform: capitalize;
}

/* line 146, ../scss/base/_type.scss */
.right {
  float: right;
}

/* line 149, ../scss/base/_type.scss */
.left {
  float: left;
}

/* line 153, ../scss/base/_type.scss */
.clear-both {
  clear: both;
  height: 10px;
}

/* line 157, ../scss/base/_type.scss */
.pointer {
  cursor: pointer;
}

/* line 160, ../scss/base/_type.scss */
.o-hidden {
  overflow: hidden;
}

/**/
/* line 166, ../scss/base/_type.scss */
.container-fluid {
  padding: 0;
}

/* line 169, ../scss/base/_type.scss */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* line 213, ../scss/base/_type.scss */
.container {
  padding: 0;
}

@media (min-width: 768px) {
  /* line 218, ../scss/base/_type.scss */
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  /* line 224, ../scss/base/_type.scss */
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  /* line 230, ../scss/base/_type.scss */
  .container {
    width: 1110px;
  }
}
/* line 237, ../scss/base/_type.scss */
.sm-block {
  display: block;
}

/* line 240, ../scss/base/_type.scss */
.md-block {
  display: none;
}

@media screen and (min-width: 415px) and (max-width: 823px) {
  /* line 245, ../scss/base/_type.scss */
  .md-block {
    display: block;
  }

  /* line 248, ../scss/base/_type.scss */
  .sm-block {
    display: none;
  }
}
@media screen and (min-width: 824px) {
  /* line 253, ../scss/base/_type.scss */
  .md-block, .sm-block {
    display: none;
  }
}
/* line 178, ../scss/base/_mixins.scss */
.transparent-background, form option, .form option {
  background-color: transparent;
  zoom: 1;
}

/* BEGIN Light */
/*noinspection ALL*/
@font-face {
  font-family: YekanBakh;
  src: url("../fonts/Light/YekanBakh-Light.eot");
  src: url("../fonts/Light/YekanBakh-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Light/YekanBakh-Light.woff") format("woff"), url("../fonts/Light/YekanBakh-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
/* END Light */
/* BEGIN Regular */
@font-face {
  font-family: YekanBakh;
  src: url("../fonts/Regular/YekanBakh-Regular.eot");
  src: url("../fonts/Regular/YekanBakh-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Regular/YekanBakh-Regular.woff") format("woff"), url("../fonts/Regular/YekanBakh-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: YekanBakh;
  src: url("../fonts/Regular/YekanBakh-Regular.eot");
  src: url("../fonts/Regular/YekanBakh-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Regular/YekanBakh-Regular.woff") format("woff"), url("../fonts/Regular/YekanBakh-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* END Regular */
/* BEGIN Medium */
@font-face {
  font-family: YekanBakh;
  src: url("../fonts/Medium/YekanBakh-Medium.eot");
  src: url("../fonts/Medium/YekanBakh-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Medium/YekanBakh-Medium.woff") format("woff"), url("../fonts/Medium/YekanBakh-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
/* END Medium */
/* BEGIN Bold */
@font-face {
  font-family: YekanBakh;
  src: url("../fonts/Bold/YekanBakh-Bold.eot");
  src: url("../fonts/Bold/YekanBakh-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Bold/YekanBakh-Bold.woff") format("woff"), url("../fonts/Bold/YekanBakh-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: YekanBakh;
  src: url("../fonts/Bold/YekanBakh-Bold.eot");
  src: url("../fonts/Bold/YekanBakh-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Bold/YekanBakh-Bold.woff") format("woff"), url("../fonts/Bold/YekanBakh-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
/* END Bold */
/* BEGIN Heavy */
@font-face {
  font-family: YekanBakh;
  src: url("../fonts/Heavy/YekanBakh-Heavy.eot");
  src: url("../fonts/Heavy/YekanBakh-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Heavy/YekanBakh-Heavy.woff") format("woff"), url("../fonts/Heavy/YekanBakh-Heavy.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/* END Heavy */
/* BEGIN Fat */
@font-face {
  font-family: YekanBakh;
  src: url("../fonts/Fat/YekanBakh-Fat.eot");
  src: url("../fonts/Fat/YekanBakh-Fat.eot?#iefix") format("embedded-opentype"), url("../fonts/Fat/YekanBakh-Fat.woff") format("woff"), url("../fonts/Fat/YekanBakh-Fat.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
/* END Fat */
/* line 7, ../scss/layout/_layout-home.scss */
header {
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -ms-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  height: 355px;
}
/* line 10, ../scss/layout/_layout-home.scss */
header #inner-header {
  position: relative;
}
/* line 12, ../scss/layout/_layout-home.scss */
header #inner-header .logo {
  margin-top: 54px;
}
/* line 15, ../scss/layout/_layout-home.scss */
header #inner-header .bonyad {
  position: absolute;
  left: 100px;
  top: 0;
}
/* line 21, ../scss/layout/_layout-home.scss */
header .navigation {
  margin: 55px 0 44px 0;
}
/* line 24, ../scss/layout/_layout-home.scss */
header .navigation .nav-menu li {
  background-color: #ebebeb;
  margin-left: 23px;
  float: right;
}
/* line 28, ../scss/layout/_layout-home.scss */
header .navigation .nav-menu li a {
  width: 118px;
  height: 24px;
  display: inline-block;
  text-align: center;
}
/* line 32, ../scss/layout/_layout-home.scss */
header .navigation .nav-menu li a span {
  line-height: 1.7rem;
  font-size: 19px;
}
/* line 39, ../scss/layout/_layout-home.scss */
header .navigation .nav-menu li:hover a span {
  color: #ed165a;
}
/* line 44, ../scss/layout/_layout-home.scss */
header .navigation .nav-menu li:focus, header .navigation .nav-menu li.active, header .navigation .nav-menu li.current {
  background-color: #240d35;
  border: 1.5px solid #ed165a;
}
/* line 48, ../scss/layout/_layout-home.scss */
header .navigation .nav-menu li:focus a span, header .navigation .nav-menu li.active a span, header .navigation .nav-menu li.current a span {
  color: #ed165a;
}
/* line 53, ../scss/layout/_layout-home.scss */
header .navigation .nav-menu li:last-child {
  margin-left: 0;
}
/* line 56, ../scss/layout/_layout-home.scss */
header .navigation .nav-menu li:first-child {
  display: none;
}
/* line 63, ../scss/layout/_layout-home.scss */
header.fixed-menu {
  background: #ffffff;
  min-height: 88px;
  position: fixed;
  height: auto;
  width: 100%;
  z-index: 2;
  top: 0;
}
/* line 71, ../scss/layout/_layout-home.scss */
header.fixed-menu #inner-header {
  height: 88px;
}
/* line 73, ../scss/layout/_layout-home.scss */
header.fixed-menu #inner-header .bonyad {
  display: none;
}
/* line 76, ../scss/layout/_layout-home.scss */
header.fixed-menu #inner-header .logo {
  width: 90px;
  height: 78px;
  margin: 6px 20px 0px 20px;
  display: inline-block;
}
/* line 80, ../scss/layout/_layout-home.scss */
header.fixed-menu #inner-header .logo img {
  width: 100%;
}
/* line 85, ../scss/layout/_layout-home.scss */
header.fixed-menu .navigation {
  display: inline-block;
  margin: 0px 0px 25px 0px;
}

/* line 94, ../scss/layout/_layout-home.scss */
.owl-carousel.owl-theme .owl-nav {
  position: absolute;
  margin-top: 0;
  width: 100%;
  right: 0;
  left: 0;
  top: 48%;
}
/* line 101, ../scss/layout/_layout-home.scss */
.owl-carousel.owl-theme .owl-nav.disabled {
  display: block;
}
/* line 104, ../scss/layout/_layout-home.scss */
.owl-carousel.owl-theme .owl-nav [class*='owl-'] {
  width: 38px;
  height: 44px;
  position: absolute;
  z-index: 10;
  padding: 0;
  margin: 0;
}
/* line 111, ../scss/layout/_layout-home.scss */
.owl-carousel.owl-theme .owl-nav .owl-prev {
  background-image: url("../images/main_sprite.png");
  background-repeat: no-repeat;
  background-position: -121px -558px;
  background-color: transparent;
  right: -48px;
}
/* line 115, ../scss/layout/_layout-home.scss */
.owl-carousel.owl-theme .owl-nav .owl-next {
  background-image: url("../images/main_sprite.png");
  background-repeat: no-repeat;
  background-position: -82px -558px;
  background-color: transparent;
  left: -48px;
}

/* line 123, ../scss/layout/_layout-home.scss */
.main-slider {
  background-color: #5cf192;
}
/* line 125, ../scss/layout/_layout-home.scss */
.main-slider .container {
  height: 526px;
  padding: 0;
}
/* line 128, ../scss/layout/_layout-home.scss */
.main-slider .container .main_slider {
  height: 526px;
}

/* line 135, ../scss/layout/_layout-home.scss */
.about .container {
  padding: 50px 55px 80px 55px;
}
/* line 138, ../scss/layout/_layout-home.scss */
.about .btn-about {
  text-align: center;
}
/* line 140, ../scss/layout/_layout-home.scss */
.about .btn-about a {
  background-image: url("../images/main_sprite.png");
  background-repeat: no-repeat;
  background-position: -394px -1px;
  background-color: transparent;
  width: 395px;
  height: 95px;
  display: inline-block;
}
/* line 144, ../scss/layout/_layout-home.scss */
.about .btn-about a span {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #240d35;
  text-align: center;
  line-height: 6rem;
  font-weight: 800;
  font-size: 28px;
  display: block;
}
/* line 153, ../scss/layout/_layout-home.scss */
.about .btn-about a:hover, .about .btn-about a.active {
  background-image: url("../images/main_sprite.png");
  background-repeat: no-repeat;
  background-position: 0px -1px;
  background-color: transparent;
}
/* line 155, ../scss/layout/_layout-home.scss */
.about .btn-about a:hover span, .about .btn-about a.active span {
  color: #ffffff;
}
/* line 160, ../scss/layout/_layout-home.scss */
.about .btn-about:last-child {
  padding-left: 45px;
}
/* line 163, ../scss/layout/_layout-home.scss */
.about .btn-about:first-child {
  padding-right: 45px;
}
/* line 167, ../scss/layout/_layout-home.scss */
.about .col-md-4 {
  padding: 0;
}
/* line 170, ../scss/layout/_layout-home.scss */
.about .who-is-us {
  background-image: url("../images/main_sprite.png");
  background-repeat: no-repeat;
  background-position: -346px -388px;
  background-color: transparent;
  width: 194px;
  height: 187px;
  text-align: center;
  margin: 10px auto;
  display: block;
}
/* line 177, ../scss/layout/_layout-home.scss */
.about h1 {
  margin-bottom: 30px;
  font-weight: 700;
}
/* line 181, ../scss/layout/_layout-home.scss */
.about p {
  text-align: center;
}
/* line 184, ../scss/layout/_layout-home.scss */
.about .about-targets {
  background-color: #e0e1e2;
}
/* line 186, ../scss/layout/_layout-home.scss */
.about .about-targets .container {
  background-color: #f1f2f2;
  padding: 0;
}
/* line 189, ../scss/layout/_layout-home.scss */
.about .about-targets .container .col-md-6 {
  padding-bottom: 60px;
  padding-top: 35px;
}
/* line 192, ../scss/layout/_layout-home.scss */
.about .about-targets .container .col-md-6.col-r {
  padding-right: 55px;
  padding-left: 45px;
}
/* line 196, ../scss/layout/_layout-home.scss */
.about .about-targets .container .col-md-6.col-l {
  padding-right: 45px;
  padding-left: 55px;
}
/* line 200, ../scss/layout/_layout-home.scss */
.about .about-targets .container .col-md-6 .bg-title {
  text-align: center;
  margin-bottom: 30px;
}
/* line 203, ../scss/layout/_layout-home.scss */
.about .about-targets .container .col-md-6 .bg-title h2 {
  line-height: 9.5rem;
  text-align: center;
  font-weight: 800;
  color: #ee175a;
}
/* line 209, ../scss/layout/_layout-home.scss */
.about .about-targets .container .col-md-6 .bg-title .mission {
  background-image: url("../images/main_sprite.png");
  background-repeat: no-repeat;
  background-position: -2px -388px;
  background-color: transparent;
  width: 145px;
  height: 168px;
  display: inline-block;
}
/* line 214, ../scss/layout/_layout-home.scss */
.about .about-targets .container .col-md-6 .bg-title .vision {
  background-image: url("../images/main_sprite.png");
  background-repeat: no-repeat;
  background-position: -149px -388px;
  background-color: transparent;
  width: 195px;
  height: 169px;
  display: inline-block;
}
/* line 220, ../scss/layout/_layout-home.scss */
.about .about-targets .container .col-md-6 strong {
  line-height: 2.5rem;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  display: block;
}
/* line 227, ../scss/layout/_layout-home.scss */
.about .about-targets .container .col-md-6 p {
  line-height: 2.1rem;
  font-size: 25px;
}
/* line 234, ../scss/layout/_layout-home.scss */
.about .video-aboutus {
  padding: 40px 0;
}
/* line 236, ../scss/layout/_layout-home.scss */
.about .video-aboutus .container {
  padding: 0;
}

/* line 242, ../scss/layout/_layout-home.scss */
.services {
  background-color: #22bd91;
}
/* line 244, ../scss/layout/_layout-home.scss */
.services .container {
  background-color: #5cf192;
  padding: 70px 60px;
}
/* line 248, ../scss/layout/_layout-home.scss */
.services .container .icon-service {
  background-image: url("../images/main_sprite.png");
  background-repeat: no-repeat;
  background-position: -542px -388px;
  background-color: transparent;
  width: 185px;
  height: 107px;
  margin: 15px auto;
}
/* line 253, ../scss/layout/_layout-home.scss */
.services .container h2 {
  margin-bottom: 65px;
  text-align: center;
  font-weight: 800;
  color: #ee175a;
}
/* line 260, ../scss/layout/_layout-home.scss */
.services .container .our-supports {
  position: relative;
}
/* line 263, ../scss/layout/_layout-home.scss */
.services .container .our-supports .col-md-3 strong {
  text-align: center;
  line-height: 1.5rem;
  font-weight: 800;
  font-size: 19px;
  color: #ee175a;
  display: block;
  padding-top: 25px;
  margin: 0 4px;
}
/* line 273, ../scss/layout/_layout-home.scss */
.services .container .our-supports .col-md-3 p {
  padding: 30px 0px 10px 0px;
  margin: 0 4px;
  line-height: 1.6rem;
  text-align: center;
  color: #5cf192;
  font-weight: 600;
  font-size: 15px;
}
/* line 283, ../scss/layout/_layout-home.scss */
.services .container .our-supports:before, .services .container .our-supports:after {
  content: ' ';
  border-right: 98px solid #5cf192;
  border-left: 98px solid #5cf192;
  display: inline-block;
  position: absolute;
  right: 15px;
}
/* line 291, ../scss/layout/_layout-home.scss */
.services .container .our-supports:before {
  border-bottom: 57px solid #240d35;
  top: 0px;
}
/* line 296, ../scss/layout/_layout-home.scss */
.services .container .our-supports:after {
  border-top: 57px solid #240d35;
  top: 415px;
}
/* line 301, ../scss/layout/_layout-home.scss */
.services .container .our-supports .support-details {
  width: 196px;
  height: 415px;
  background-color: #240d35;
  margin-top: 57px;
  position: relative;
}
/* line 306, ../scss/layout/_layout-home.scss */
.services .container .our-supports .support-details > div {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  position: absolute;
  top: 0;
}
/* line 312, ../scss/layout/_layout-home.scss */
.services .container .our-supports .support-details > div.active {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* line 319, ../scss/layout/_layout-home.scss */
.services .container .our-supports .col-md-9 {
  padding: 0 25px 0 30px;
}
/* line 322, ../scss/layout/_layout-home.scss */
.services .container .our-supports .col-md-6 {
  padding: 0 10px 0 20px;
  height: 186px;
}
/* line 326, ../scss/layout/_layout-home.scss */
.services .container .our-supports .col-md-6:nth-child(odd) img, .services .container .our-supports .col-md-6:nth-child(odd) .hegsa {
  margin-left: 55px;
  float: left;
}
/* line 332, ../scss/layout/_layout-home.scss */
.services .container .our-supports .col-md-4 {
  margin-bottom: -15px;
  margin-top: -15px;
  height: 186px;
}
/* line 337, ../scss/layout/_layout-home.scss */
.services .container .our-supports .hegsa {
  background: url("../images/hegsa.png") no-repeat center center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 161px;
  height: 186px;
  padding: 73px 6px 0 6px;
  text-align: center;
  line-height: 1.25rem;
  font-weight: 800;
  font-size: 16px;
  cursor: pointer;
  color: #240d35;
  display: block;
}
/* line 349, ../scss/layout/_layout-home.scss */
.services .container .our-supports .hegsa:hover, .services .container .our-supports .hegsa.active {
  color: #ee175a;
}

/* line 359, ../scss/layout/_layout-home.scss */
.our-advantages .panel-advantages {
  background-color: #e0e1e2;
  border-radius: 0;
  border: none;
}
/* line 363, ../scss/layout/_layout-home.scss */
.our-advantages .panel-advantages .panel-heading {
  background-color: #240d35;
  color: #240d35;
  border-bottom: none;
  bordar-radius: 0;
  padding: 0;
}
/* line 370, ../scss/layout/_layout-home.scss */
.our-advantages .panel-advantages .panel-title {
  background-color: #ed165a;
  text-align: center;
  position: relative;
}
/* line 374, ../scss/layout/_layout-home.scss */
.our-advantages .panel-advantages .panel-title a {
  font-weight: 800;
  font-size: 33px;
  display: block;
  padding: 32px;
}
/* line 379, ../scss/layout/_layout-home.scss */
.our-advantages .panel-advantages .panel-title a:hover, .our-advantages .panel-advantages .panel-title a:focus {
  text-decoration: none;
  color: #240d35;
}
/* line 383, ../scss/layout/_layout-home.scss */
.our-advantages .panel-advantages .panel-title a .arrow {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-image: url("../images/main_sprite.png");
  background-repeat: no-repeat;
  background-position: -204px -558px;
  background-color: transparent;
  width: 44px;
  height: 37px;
  display: inline-block;
  position: absolute;
  right: 55px;
}
/* line 392, ../scss/layout/_layout-home.scss */
.our-advantages .panel-advantages .panel-title a.collapsed .arrow {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 399, ../scss/layout/_layout-home.scss */
.our-advantages .panel-advantages .panel-body {
  background-color: #f1f2f2;
  padding: 55px 55px 25px;
  border: none;
}
/* line 404, ../scss/layout/_layout-home.scss */
.our-advantages .panel-advantages .panel-body ul {
  padding-right: 20px;
}
/* line 406, ../scss/layout/_layout-home.scss */
.our-advantages .panel-advantages .panel-body ul li {
  list-style-type: square;
  text-indent: -5px;
  margin-bottom: 34px;
  line-height: 2.4rem;
  font-weight: 500;
  font-size: 28px;
  color: #ee175a;
}
/* line 414, ../scss/layout/_layout-home.scss */
.our-advantages .panel-advantages .panel-body ul li strong {
  font-weight: 800;
}
/* line 421, ../scss/layout/_layout-home.scss */
.our-advantages .panel-group {
  margin: 0;
}

/* line 426, ../scss/layout/_layout-home.scss */
.partners {
  background-color: #229a79;
}
/* line 428, ../scss/layout/_layout-home.scss */
.partners .container {
  background-color: #22bd91;
  padding: 90px 0;
}
/* line 431, ../scss/layout/_layout-home.scss */
.partners .container h2 {
  font-size: 55px;
  font-weight: 800;
}
/* line 435, ../scss/layout/_layout-home.scss */
.partners .container .icon {
  padding: 0px 0px 50px;
  text-align: center;
}
/* line 440, ../scss/layout/_layout-home.scss */
.partners .container .col-md-4 h3 {
  font-size: 37px;
  font-weight: 800;
  color: inherit;
}
/* line 446, ../scss/layout/_layout-home.scss */
.partners .container .motion-capture {
  padding-left: 57px;
  text-align: left;
  color: #fefb00;
}
/* line 451, ../scss/layout/_layout-home.scss */
.partners .container .infrastructure-equipment {
  text-align: center;
  color: #1dff6e;
}
/* line 455, ../scss/layout/_layout-home.scss */
.partners .container .sounding {
  text-align: right;
  padding-right: 57px;
  color: #ff8827;
}
/* line 460, ../scss/layout/_layout-home.scss */
.partners .container .partner-slider {
  padding: 35px 46px 0 46px;
  height: 270px;
}
/* line 464, ../scss/layout/_layout-home.scss */
.partners .container .partner-slider .slide h3 {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

/* line 475, ../scss/layout/_layout-home.scss */
.get-support .panel-converge {
  background-color: #e0e1e2;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  border: none;
}
/* line 481, ../scss/layout/_layout-home.scss */
.get-support .panel-converge .panel-heading {
  background-color: #e0e1e2;
  color: #240d35;
  border-bottom: none;
  bordar-radius: 0;
  padding: 0;
}
/* line 488, ../scss/layout/_layout-home.scss */
.get-support .panel-converge .panel-title {
  background-color: #f1f2f2;
  text-align: center;
  position: relative;
}
/* line 492, ../scss/layout/_layout-home.scss */
.get-support .panel-converge .panel-title a {
  font-weight: 800;
  font-size: 33px;
  display: block;
  padding: 32px;
}
/* line 497, ../scss/layout/_layout-home.scss */
.get-support .panel-converge .panel-title a:hover, .get-support .panel-converge .panel-title a:focus {
  text-decoration: none;
  color: #240d35;
}
/* line 501, ../scss/layout/_layout-home.scss */
.get-support .panel-converge .panel-title a .arrow {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-image: url("../images/main_sprite.png");
  background-repeat: no-repeat;
  background-position: -159px -562px;
  background-color: transparent;
  width: 44px;
  height: 37px;
  display: inline-block;
  position: absolute;
  right: 55px;
}
/* line 510, ../scss/layout/_layout-home.scss */
.get-support .panel-converge .panel-title a.collapsed .arrow {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 517, ../scss/layout/_layout-home.scss */
.get-support .panel-converge .panel-body {
  background-color: #f1f2f2;
  padding: 55px 55px 25px;
  border: none;
}
/* line 521, ../scss/layout/_layout-home.scss */
.get-support .panel-converge .panel-body p {
  margin-bottom: 34px;
  line-height: 2.4rem;
  font-weight: 500;
  font-size: 28px;
}
/* line 527, ../scss/layout/_layout-home.scss */
.get-support .panel-converge .panel-body ul {
  padding-right: 20px;
}
/* line 529, ../scss/layout/_layout-home.scss */
.get-support .panel-converge .panel-body ul li {
  list-style-type: square;
  text-indent: -5px;
  margin-bottom: 34px;
  line-height: 2.4rem;
  font-weight: 500;
  font-size: 28px;
  color: #ee175a;
}
/* line 537, ../scss/layout/_layout-home.scss */
.get-support .panel-converge .panel-body ul li strong {
  font-weight: 800;
}
/* line 544, ../scss/layout/_layout-home.scss */
.get-support .panel-group {
  background: #e0e1e2;
  margin-bottom: 0px;
}
/* line 548, ../scss/layout/_layout-home.scss */
.get-support .panel-group .panel + .panel {
  margin-top: 20px;
}
/* line 554, ../scss/layout/_layout-home.scss */
.get-support .gif-view {
  background-color: #ed165a;
  height: 499px;
}
/* line 558, ../scss/layout/_layout-home.scss */
.get-support .video-register {
  padding: 100px 0 0px 0;
}
/* line 562, ../scss/layout/_layout-home.scss */
.get-support .last-row {
  padding-top: 60px;
  margin-bottom: 50px;
}
/* line 565, ../scss/layout/_layout-home.scss */
.get-support .last-row .col-md-4 {
  position: relative;
}
/* line 567, ../scss/layout/_layout-home.scss */
.get-support .last-row .col-md-4 a {
  background-image: url("../images/main_sprite.png");
  background-repeat: no-repeat;
  background-position: -329px -98px;
  background-color: transparent;
  width: 326px;
  height: 289px;
  display: inline-block;
}
/* line 571, ../scss/layout/_layout-home.scss */
.get-support .last-row .col-md-4 a:hover, .get-support .last-row .col-md-4 a:focus {
  background-image: url("../images/main_sprite.png");
  background-repeat: no-repeat;
  background-position: -1px -98px;
  background-color: transparent;
  text-decoration: none;
}
/* line 575, ../scss/layout/_layout-home.scss */
.get-support .last-row .col-md-4 a span {
  padding: 110px 40px 0px;
  line-height: 2.2rem;
  font-weight: 800;
  font-size: 32px;
  display: block;
  text-align: center;
  position: relative;
  z-index: 2;
}
/* line 586, ../scss/layout/_layout-home.scss */
.get-support .last-row .col-md-4 .icon {
  display: inline-block;
  position: absolute;
  right: 33%;
  top: 35px;
}
/* line 593, ../scss/layout/_layout-home.scss */
.get-support .last-row .col-md-4.icon-1 .icon, .get-support .last-row .col-md-4.icon-3 .icon {
  background-image: url("../images/main_sprite.png");
  background-repeat: no-repeat;
  background-position: -731px -325px;
  background-color: transparent;
  width: 54px;
  height: 108px;
}
/* line 599, ../scss/layout/_layout-home.scss */
.get-support .last-row .col-md-4.icon-2 span {
  padding-top: 125px;
}
/* line 602, ../scss/layout/_layout-home.scss */
.get-support .last-row .col-md-4.icon-2 .icon {
  background-image: url("../images/main_sprite.png");
  background-repeat: no-repeat;
  background-position: -675px -503px;
  background-color: transparent;
  width: 107px;
  height: 77px;
}

/* line 611, ../scss/layout/_layout-home.scss */
.faq {
  background-color: #229a79;
}
/* line 613, ../scss/layout/_layout-home.scss */
.faq .container {
  padding: 45px 0 80px 0;
}
/* line 616, ../scss/layout/_layout-home.scss */
.faq .container .col-sm-12 {
  text-align: center;
}
/* line 618, ../scss/layout/_layout-home.scss */
.faq .container .col-sm-12 .icon-faq {
  background-image: url("../images/main_sprite.png");
  background-repeat: no-repeat;
  background-position: -657px -98px;
  background-color: transparent;
  width: 131px;
  height: 226px;
  display: inline-block;
}
/* line 623, ../scss/layout/_layout-home.scss */
.faq .container .col-sm-12 h2 {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 800;
}
/* line 631, ../scss/layout/_layout-home.scss */
.faq .container .nav.nav-tabs {
  background-color: #5cf192;
  padding: 0 55px;
  border: none;
  height: 94px;
}
/* line 636, ../scss/layout/_layout-home.scss */
.faq .container .nav.nav-tabs > li {
  margin: 0;
}
/* line 638, ../scss/layout/_layout-home.scss */
.faq .container .nav.nav-tabs > li > a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  line-height: 6rem;
  margin-left: 18px;
  font-weight: 800;
  font-size: 33px;
  padding: 2px 0;
  border: none;
}
/* line 646, ../scss/layout/_layout-home.scss */
.faq .container .nav.nav-tabs > li > a:hover, .faq .container .nav.nav-tabs > li > a:focus {
  background-color: transparent;
  color: #ee175a;
}
/* line 652, ../scss/layout/_layout-home.scss */
.faq .container .nav.nav-tabs > li.active > a {
  background-color: transparent;
  color: #ee175a;
}
/* line 660, ../scss/layout/_layout-home.scss */
.faq .container .tab-content {
  background-color: #22bd91;
  padding: 40px 0;
}
/* line 666, ../scss/layout/_layout-home.scss */
.faq .container .tab-pane ul {
  padding: 0px 30px 8px 40px;
  height: 450px;
}
/* line 669, ../scss/layout/_layout-home.scss */
.faq .container .tab-pane ul li {
  list-style-type: square;
  line-height: 1.8rem;
  font-size: 22px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 5px;
}
/* line 676, ../scss/layout/_layout-home.scss */
.faq .container .tab-pane ul li p {
  line-height: 1.7rem;
  font-size: inherit;
  font-weight: inherit;
}
/* line 683, ../scss/layout/_layout-home.scss */
.faq .container .tab-pane .mCSB_container {
  padding: 25px 0;
}
/* line 688, ../scss/layout/_layout-home.scss */
.faq .container .tab-pane .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-image: url("../images/main_sprite.png");
  background-repeat: no-repeat;
  background-position: -338px -580px;
  background-color: transparent;
}
/* line 695, ../scss/layout/_layout-home.scss */
.faq .row.no-margin {
  height: 624px;
}

/* line 700, ../scss/layout/_layout-home.scss */
.media {
  margin: 0;
}
/* line 702, ../scss/layout/_layout-home.scss */
.media .top-row {
  padding: 66px 0 40px 0;
  text-align: center;
  position: relative;
}
/* line 707, ../scss/layout/_layout-home.scss */
.media .top-row .icon-bg {
  background-image: url("../images/main_sprite.png");
  background-repeat: no-repeat;
  background-position: -2px -604px;
  background-color: transparent;
  width: 126px;
  height: 187px;
  display: inline-block;
  position: absolute;
  z-index: -1;
  right: 45%;
  left: 45%;
}
/* line 716, ../scss/layout/_layout-home.scss */
.media .top-row h2 {
  text-align: center;
  font-weight: 800;
  font-size: 55px;
  margin: 62px 0 0;
  height: 122px;
}
/* line 724, ../scss/layout/_layout-home.scss */
.media .recommendations {
  background-color: #e0e1e2;
  height: 245px;
}
/* line 730, ../scss/layout/_layout-home.scss */
.media .recommendations .recom-slider {
  position: relative;
  height: 319px;
  top: -74px;
}
/* line 734, ../scss/layout/_layout-home.scss */
.media .recommendations .recom-slider .slide {
  position: relative;
  height: 319px;
  top: -76px;
}
/* line 738, ../scss/layout/_layout-home.scss */
.media .recommendations .recom-slider .slide img {
  position: relative;
  right: 52px;
  top: 76px;
  width: 130px;
}
/* line 744, ../scss/layout/_layout-home.scss */
.media .recommendations .recom-slider .slide .text-slide {
  padding: 95px 52px 25px 52px;
  background-color: #f1f2f2;
}
/* line 747, ../scss/layout/_layout-home.scss */
.media .recommendations .recom-slider .slide .text-slide p {
  font-size: 29px;
  font-weight: 500;
}
/* line 751, ../scss/layout/_layout-home.scss */
.media .recommendations .recom-slider .slide .text-slide span {
  color: #ee175a;
  text-align: left;
  display: block;
  font-size: 29px;
  font-weight: 700;
  margin-top: 15px;
}
/* line 762, ../scss/layout/_layout-home.scss */
.media .recommendations .recom-slider.owl-carousel.owl-theme .owl-nav {
  top: 57%;
}
/* line 769, ../scss/layout/_layout-home.scss */
.media .middle-row {
  padding: 45px 0;
  text-align: center;
  position: relative;
}
/* line 773, ../scss/layout/_layout-home.scss */
.media .middle-row .icon-bg {
  background-image: url("../images/main_sprite.png");
  background-repeat: no-repeat;
  background-position: -130px -602px;
  background-color: transparent;
  width: 133px;
  height: 114px;
  display: inline-block;
  position: absolute;
  z-index: -1;
  right: 45%;
  left: 45%;
}
/* line 782, ../scss/layout/_layout-home.scss */
.media .middle-row h2 {
  text-align: center;
  font-weight: 800;
  font-size: 55px;
  margin: 45px 0 0;
  height: 70px;
}
/* line 791, ../scss/layout/_layout-home.scss */
.media .in-media {
  background-color: #cc223c;
}
/* line 793, ../scss/layout/_layout-home.scss */
.media .in-media .container {
  background-color: #ee175a;
  height: 320px;
}
/* line 797, ../scss/layout/_layout-home.scss */
.media .in-media .container .media-slider {
  padding: 38px 52px 27px 52px;
  height: 320px;
}
/* line 800, ../scss/layout/_layout-home.scss */
.media .in-media .container .media-slider img {
  margin-bottom: 15px;
}
/* line 803, ../scss/layout/_layout-home.scss */
.media .in-media .container .media-slider p {
  font-size: 19px;
  font-weight: 300;
  line-height: 1.5rem;
}
/* line 808, ../scss/layout/_layout-home.scss */
.media .in-media .container .media-slider a {
  color: #5cf192;
  text-align: left;
  margin-top: 8px;
  font-weight: 700;
  font-size: 22px;
  display: block;
}
/* line 819, ../scss/layout/_layout-home.scss */
.media .in-media .container .media-slider.owl-carousel.owl-theme .owl-prev {
  background-image: url("../images/main_sprite.png");
  background-repeat: no-repeat;
  background-position: -41px -558px;
  background-color: transparent;
}
/* line 822, ../scss/layout/_layout-home.scss */
.media .in-media .container .media-slider.owl-carousel.owl-theme .owl-next {
  background-image: url("../images/main_sprite.png");
  background-repeat: no-repeat;
  background-position: -2px -558px;
  background-color: transparent;
}

/* line 833, ../scss/layout/_layout-home.scss */
footer {
  background-color: #240d35;
  padding: 65px 0 70px 0;
}
/* line 836, ../scss/layout/_layout-home.scss */
footer p {
  color: #f1f2f2;
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.2rem;
  font-weight: 300;
  font-size: 16px;
}
/* line 843, ../scss/layout/_layout-home.scss */
footer p a {
  font-weight: 300;
  font-size: 16px;
}

/* line 852, ../scss/layout/_layout-home.scss */
.modal.modal-wide .modal-dialog {
  max-width: 80%;
  width: 80%;
  top: 3%;
}
/* line 856, ../scss/layout/_layout-home.scss */
.modal.modal-wide .modal-dialog .modal-content {
  background-color: #000000;
}
/* line 858, ../scss/layout/_layout-home.scss */
.modal.modal-wide .modal-dialog .modal-content button {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  position: absolute;
  color: #ee175a;
  text-shadow: none;
  font-size: 23px;
  z-index: 1;
  left: 15px;
  top: 8px;
}

/* line 872, ../scss/layout/_layout-home.scss */
.h_iframe-aparat_embed_frame {
  position: relative;
}
/* line 874, ../scss/layout/_layout-home.scss */
.h_iframe-aparat_embed_frame .ratio {
  display: block;
  width: 100%;
  height: auto;
}
/* line 879, ../scss/layout/_layout-home.scss */
.h_iframe-aparat_embed_frame iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* line 888, ../scss/layout/_layout-home.scss */
#inner-page {
  padding: 20px 0px 40px 0px;
}
/* line 890, ../scss/layout/_layout-home.scss */
#inner-page h3 {
  font-weight: 800;
  font-size: 33px;
  text-align: center;
  margin: 20px 0 40px 0;
}
/* line 896, ../scss/layout/_layout-home.scss */
#inner-page strong {
  font-weight: 700;
  margin: 20px 0;
  display: block;
}
/* line 901, ../scss/layout/_layout-home.scss */
#inner-page p {
  line-height: 2.2rem;
  font-size: 24px;
}
/* line 905, ../scss/layout/_layout-home.scss */
#inner-page ul {
  padding: 10px 20px;
}
/* line 907, ../scss/layout/_layout-home.scss */
#inner-page ul li {
  list-style-type: decimal;
  line-height: 2.2rem;
  font-size: 24px;
}
