/* BEGIN Light */
/*noinspection ALL*/
@font-face {
  font-family: YekanBakh;
  src: url("../fonts/Light/YekanBakh-Light.eot");
  src: url("../fonts/Light/YekanBakh-Light.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Light/YekanBakh-Light.woff") format("woff"),
       url("../fonts/Light/YekanBakh-Light.ttf")  format("truetype");
  font-weight: 300;
  font-style: normal;

}
/* END Light */

/* BEGIN Regular */
@font-face {
  font-family: YekanBakh;
  src: url("../fonts/Regular/YekanBakh-Regular.eot");
  src: url("../fonts/Regular/YekanBakh-Regular.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Regular/YekanBakh-Regular.woff") format("woff"),
       url("../fonts/Regular/YekanBakh-Regular.ttf")  format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: YekanBakh;
  src: url("../fonts/Regular/YekanBakh-Regular.eot");
  src: url("../fonts/Regular/YekanBakh-Regular.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Regular/YekanBakh-Regular.woff") format("woff"),
       url("../fonts/Regular/YekanBakh-Regular.ttf")  format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* END Regular */

/* BEGIN Medium */
@font-face {
  font-family: YekanBakh;
  src: url("../fonts/Medium/YekanBakh-Medium.eot");
  src: url("../fonts/Medium/YekanBakh-Medium.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Medium/YekanBakh-Medium.woff") format("woff"),
       url("../fonts/Medium/YekanBakh-Medium.ttf")  format("truetype");
  font-weight: 500;
  font-style: normal;
}
/* END Medium */

/* BEGIN Bold */
@font-face {
  font-family: YekanBakh;
  src: url("../fonts/Bold/YekanBakh-Bold.eot");
  src: url("../fonts/Bold/YekanBakh-Bold.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Bold/YekanBakh-Bold.woff") format("woff"),
       url("../fonts/Bold/YekanBakh-Bold.ttf")  format("truetype");
  font-weight: 600;
  font-style: normal; 
}
@font-face {
  font-family: YekanBakh;
  src: url("../fonts/Bold/YekanBakh-Bold.eot");
  src: url("../fonts/Bold/YekanBakh-Bold.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Bold/YekanBakh-Bold.woff") format("woff"),
       url("../fonts/Bold/YekanBakh-Bold.ttf")  format("truetype");
  font-weight: bold;
  font-style: normal;
}
/* END Bold */

/* BEGIN Heavy */
@font-face {
  font-family: YekanBakh;
  src: url("../fonts/Heavy/YekanBakh-Heavy.eot");
  src: url("../fonts/Heavy/YekanBakh-Heavy.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Heavy/YekanBakh-Heavy.woff") format("woff"),
       url("../fonts/Heavy/YekanBakh-Heavy.ttf")  format("truetype");
  font-weight: 700;
  font-style: normal;
}
/* END Heavy */

/* BEGIN Fat */
@font-face {
  font-family: YekanBakh;
  src: url("../fonts/Fat/YekanBakh-Fat.eot");
  src: url("../fonts/Fat/YekanBakh-Fat.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Fat/YekanBakh-Fat.woff") format("woff"),
  url("../fonts/Fat/YekanBakh-Fat.ttf")  format("truetype");
  font-weight: 800;
  font-style: normal;
}
/* END Fat */
