body * {
	font-family: $base-font;
	font-size: $base-font-size;
	color: $base-color;
}

body{
	background: url("../images/Pattern.png") repeat 0 0;
}

ul {
	padding: 0;
}

li {
	list-style-type: none;
}


/**
 *
 * RAW ELEMENT STYLES
 *
 **/

h1,
h2,
h3,
h4,
h5,
h6 {
	//color: $header-color;
	font-family: $base-font;
	font-weight: $base-font-weight;
	margin-bottom: 14px;
	margin-top: 14px;
	width: 100%;
}

h1 {
	font-size: 80px;
	font-family: 'Lalezar';
	margin: 14px 0;
}

h2 {
	font-size: 57px;
	font-family: 'Lalezar';
	margin: 12px 0;
}

h3 {
	font-size: 30px;
	margin: 10px 0;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 14px;
}

p{
	font-size:$base-font-size;
	text-align: justify;
    line-height: 2.6rem;
	font-size: 26px;
    font-weight: 500;
}
strong{
	font-weight: 700;
}

a {
	@include transition(color 0.3s);
	text-decoration: none;
	color: $white;
	font-weight:400;
	&:hover , &:focus, &.active{
		@include transition(color 0.3s);
		color:$link_color;
		text-decoration: none;
		//font-weight: bold;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	h1{
		font-size: 68px;
	}
	h2{
		font-size: 46px;
	}
	p{
	    line-height: 2.4rem;
    	font-size: 25px;
	}
}
@media screen and (min-width: 415px) and (max-width: 767px) {
	h1{
		font-size: 60px;
	}
	h2{
		font-size: 42px;
	}
	p{
	    line-height: 2.3rem;
    	font-size: 23px;
	}
}

@media screen and (max-width: 414px){
	h1{
		font-size: 54px;
	}
	h2{
		font-size: 36px;
	}
	p{
	    line-height: 1.8rem;
    	font-size: 20px;
	}

}

/**
 *
 * TRANSFORMS AND STYLES AND ALIGNS
 *
 **/

.rtl {
	direction: rtl;
}

.ltr {
	direction: ltr;
}

.no-padding {
	padding: 0;
}

.no-margin {
	margin: 0 !important;
}

.captalized {
	text-transform: capitalize;
}

.uppercased {
	text-transform: capitalize;
}

.right{
	float: right;
}
.left{
	float: left;
}


/**/
.container-fluid{
	padding:0;
}
.container{
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto
}

.container{
  padding: 0;
}

@media (min-width: 768px) {
    .container {
        width:750px
    }
}

@media (min-width: 992px) {
    .container {
        width:970px
    }
}

@media (min-width: 1200px) {
    .container {
        width:1024px;
    }
}

@media (min-width: 1230px) {
    .container {
        width:1110px;
    }
}


.desktop{
  display: block;
}
.mobile{
  display: none;
}

@media screen and (min-width: 415px) and (max-width: 767px) {
  .mobile{
    display: block;
  }
  .desktop{
    display: none;
  }
}
@media screen and (max-width: 414px){ 
  .desktop{
    display: none;
  }
  .mobile{
    display: block;
  }
}


/**
 *
 * COLOR STYLES
 *
 **/
.yellow{
  color:#fefb00;
}
.green{
  color:#1dff6e;
}
.orange{
  color:#ff8827;
}
.blue{
  color:#0598ce;
}
.red{
	color:#ed165a;
}
.purple{
	color:#8e53a1;
}
.pink{
	color:#FF69B4;
}