// header
$header-height: 44px;
$header-padding: 15px;

$heading-bottom-margin: 1em;
$heading-top-margin: 1em;

$tab-heading-height: 50px;


//fonts
$base-font: 'YekanBakh', sans-serif;
$base-font-weight: 300;
$base-font-size:28px;

// colors

// $base-color: #0c1015;
$error-color: rgba(239, 83, 80 ,0.9);
$warn-color: rgb(252,171,83);


// theme colors
$bg-color: #240d35;
$base_color:#240d35;

$green-light: #5cf192;
$green-dark:#22bd91;
$gray-light:#f1f2f2;
$gray-dark:#666;
$red:#ed165a;
$red-bg:#cc223c;
$navy-blue:#240d35;
$green-3:#22bd91;
$green-4:#229a79;

$white: #ffffff;
$black: #000000;

//5cf192
$link_color: #5cf192;

//old
$green-title:#96c735;
$blue-title:#3399de;
$buton_link:#0e193d;
$dark-title:#4d4d4d;

$button_color_green:#96c735;
$button_color_blue:#3399de;


// elements
$input-height: 1;

