@import "base/variables";

//main{
//  overflow: hidden;
//}

header{
  height:355px;
  #inner-header{
    position: relative;
    .logo{
      margin-top:54px;
    }
    .bonyad{
      position: absolute;
      left:100px;
      top:0;
    }
  }
  .navigation{
    margin:55px 0 44px 0;
    .nav-menu{
      li{
        background-color: #ebebeb;
        margin-left:23px;
        float: right;
        a{
          @include size(118px, 24px);
          display: inline-block;
          text-align: center;
          span{
            line-height:1.7rem;
            font-size:19px;
          }
        }
        &:hover{
          a{
            span{
              color: $red;
            }
          }
        }
        &:focus ,&.active{
          background-color: $bg-color;
          border:1.5px solid $red;
          a{
            span{
              color: $red;
            }
          }
        }
        &:last-child{
          margin-left: 0;
        }
      }
    }
  }
}

.main-slider{
  background-color: $green-light;
  .container{
    padding:0;
  }
  .owl-carousel{
    &.main_slider{
      .owl-nav{
        position: absolute;
        margin-top: 0;
        width: 100%;
        top: 48%;
        &.disabled{
          display: block;
        }
        [class*='owl-']{
          @include size(38px,44px);
          position: absolute;
          z-index: 10;
          padding: 0;
          margin: 0;
        }
        .owl-prev{
          @include sprite(-82px,-558px);
          left: -48px;
        }
        .owl-next{
          @include sprite(-121px,-558px);
          right: -48px;
        }
      }
    }
  }
}

.about{
  .container{
    padding: 50px 55px 80px 55px;
  }
  .btn-about{
    text-align: center;
    a{
      @include sprite(-394px,-1px); 
      @include size(395px,95px);
      display: inline-block;
      span{
        @include transition(all 0.3s);
        color: $base-color;
        text-align: center;
        line-height: 6rem;
        font-weight: 800;
        font-size:28px;
        display: block;
      }
      &:hover,&.active{
        @include sprite(0px,-1px);
        span{
          color: $white;
        }
      }
    }
    &:last-child {
      padding-left: 45px;
    }
    &:first-child {
      padding-right: 45px;
    }
  }
  .col-md-4{
    padding: 0;
  }
  .who-is-us{
    @include sprite(-346px,-388px);
    @include size(194px,187px);
    text-align: center;
    margin: 10px auto;
    display: block;
  }
  h1{
    margin-bottom: 30px;
    font-weight: 800;
  }
  p{
    text-align: center;
  }
}
